@import "suitcss-components-test";
@import "../index.css";

/* Accessibility checks */

.Dropdown-toggle::after {
  content: "Dropdown-toggle not accessible: missing aria-controls, aria-expanded or aria-haspopup attributes";
}

.Dropdown-menu::after {
  content: "Dropdown-menu not accessible: missing role=\"menu\" or aria-hidden attributes";
}

.Dropdown-item::after {
  content: "Dropdown-item not accessible: missing role=\"menuitem\" attribute";
}

.Dropdown-toggle::after,
.Dropdown-menu::after,
.Dropdown-item::after {
  background-color: #f00;
  bottom: 100%;
  color: #fff;
  display: block;
  padding: 0.5em;
}

.Dropdown-toggle[aria-controls][aria-expanded][aria-haspopup]::after,
.Dropdown-menu[role="menu"][aria-hidden]::after,
.Dropdown-item[role="menuitem"]::after {
  content: "";
  display: none;
}

